:root
{
    --gradient-MP: linear-gradient(90deg, #3affd4 0%, #5d54ff 51%, #5a06af 100%);
}
html {
    scroll-behavior: smooth;
}
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

body
{
    position: relative;
}
header
{
    position: fixed;
    width: 100%;
    top: 0;

    -webkit-box-shadow: 0px 5px 4px -3px #00000023;

            box-shadow: 0px 5px 4px -3px #00000023;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}
header ul
{
    list-style: none;
}
.container
{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header-inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 25px 10px;
    
}
header ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
}
header li
{
    margin-right: 20px;
}
header li a
{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
header li a:hover
{
    color: rgb(116, 0, 110);
}
header .header-info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.btn
{
    color: #fff;
    background: #5a06af;

    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    
    display: inline-block;
}
.btn.light
{
    background-color: #5d54ff;
}
.btn:hover
{
    background-color: #3affd4;
    color: #000;
}
section
{
    position: relative;
}
section.main
{
    margin-top: 86px;
    background-image: url(../images/main-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
}
h1, 
h1 span
{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
}
h1 span
{
    color: rgb(255, 228, 77);;
}
h2
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 35px;
}
.section
{
    padding: 50px 0 30px 0;
}
.main-inner
{
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-info__text
{
    font-weight: 300;

    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
}
.main-info
{
    max-width: 600px;
}
.main-info .btn
{
    margin-top: 60px;
    padding: 20px 50px;
}
.main-image
{
    width: 500px;
}
.main-image img
{
    width: 100%;
}
.about-plugin .items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
}
.about-plugin .items .item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 750px;
    margin-top: 35px;
}
.about-plugin .items .item.reverse
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.about-plugin .items .image
{
    width: 120px;
    margin-right: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.about-plugin .items .item.reverse .image
{
    margin-right: 0px;
    margin-left: 20px;
}
.about-plugin img
{
    width: 100%;
}
.about-plugin .items .text
{
    font-size: 20px;
    line-height: 30px;
}
.funcs-items
{
    margin-top: 50px;
}
.funcs-items .item
{
    position: relative;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 45px;
}
.funcs-items .item::before
{
    content: '';
    position: absolute;
    background-image: url(../images/checkmark.svg);
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -40px;

    width: 30px;
    height: 30px;
}

.myself
{
    background: -o-linear-gradient(302deg, rgba(0,196,153,1) 0%, rgba(93,84,255,1) 45%, rgba(90,6,175,1) 100%);
    background: linear-gradient(148deg, rgba(0,196,153,1) 0%, rgba(93,84,255,1) 45%, rgba(90,6,175,1) 100%);
    color: #fff;
    padding: 60px 0;
    text-align: center;
    font-size: 26px;
    line-height: 39px;

    margin: 40px 0;
}
section ul
{
    margin: 30px 0;
}
section li
{
    margin-top: 20px;
    font-size: 24px;
}
.download-btn
{
    width: 100%;
    text-align: center;
}
.download-btn .btn
{
    padding: 20px 50px;
    font-size: 25px;
}
.alert
{
    margin: 30px 0;
    padding: 25px 40px;
    font-size: 23px;
    color: #fff;
    background-color: rgba(160, 0, 0, 0.867);
    line-height: 30px;

    border-radius: 20px;
}
.dropdown-list .main
{
    cursor: pointer;
    font-size: 24px;
    padding: 15px 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 35px;
}
.dropdown-list .content
{
    font-size: 20px;
    padding: 0px 0px;
    border-left: 5px solid #5a06af;
    border-right: 5px solid #5a06af;

    opacity: 0;
    height: 0;
    overflow: hidden;

    -webkit-transition: 0.2s ease;

    -o-transition: 0.2s ease;

    transition: 0.2s ease;
}
.dropdown-list.active .content
{
    padding: 20px 25px;
    height: auto;
    opacity: 1;
}
.dropdown-list li
{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}
.download-dropdown .main
{
    background-color: rgb(244, 244, 244);
    
}
.download-dropdown .content
{
    background-color: rgb(228, 228, 228);
    border: 0;
}
.download-dropdown .main:hover
{
    background-color: rgb(230, 230, 230);
}
.download-dropdown ul
{
    list-style: none;
}
.download-dropdown a
{
    color: #000;
    font-weight: 600;
}
.download-dropdown a:hover
{
    color: #5a06af;
}


#questions
{
    margin-top: 70px;
}
#questions .main
{
    background-color: rgb(244, 244, 244);
}
#questions .main:hover
{
    background-color: rgb(230, 230, 230);
}
.questions-inner
{
    padding: 5px;
}
.questions-inner h2
{
    margin-bottom: 45px;
}
#questions .dropdown-list
{
    margin-bottom: 20px;
}
h3
{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
}
.github
{
    
}
.github-inner
{
    padding: 80px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.github-inner img
{
    width: 100%;
}
.github-inner .left
{
    width: 40%;
}
.github-inner .right
{
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.github-inner .btn
{
    margin-top: 30px;
    background-color: #000;
    border: 1px solid #000;
}
.github-inner .btn:hover
{
    background-color: #fff;
    color: #000;
}
footer
{
    border-top: 1px solid rgb(224, 224, 224);
    padding: 20px 5px;
    text-align: center;
}
.burger
{
    display: none;
}